[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"

[packages]
python-twitter = "*"
sparkpost = {git = "https://github.com/SparkPost/python-sparkpost",ref = "master"}

[requires]
# It's not possible to specify a minimum version of Python 3.x here.
# See <https://stackoverflow.com/questions/51492423/pipenv-specify-minimum-version-of-python-in-pipfile>
#python_version = "3.6"
